HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### Custom ###
/src/main/resources/application-local.yaml
/tmp/
/.claude/
/tinsiag-ai-code-mother-frontend/public/default-app-cover.png
/tinsiag-ai-code-mother-frontend/markdown/default.md
/node_modules/.cache/prettier/.prettier-caches/11edc6d56100bc331860bded5f3b39b6cb79ccfa.json
